
html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
main{
  width: 100%;
}
:root {
  --jumbotron-padding-y: 1rem;
}
#about{
  background-image:url("images/dark-paths.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  align-items: center;
  
}
#about .jumbotron {
  flex:1;
  padding-top: 0px !important;
  margin: 0;
  width: 85%;
 background-color: transparent;
  height: 75%;
  transform: translate(9%,16%)
}

.clearfix{
  flex: 1;
  overflow: auto;
}

.jumbotron h1{
  font-size: 50px;
  border-bottom: 5px solid #fff;
  margin-bottom: 30px
}
.lead{
  margin-top: 100px
}
.clearfix p{
  flex: 1;
  text-align: left;
  font-size: 22px;
  color:#fff;
  margin:50px 0 0 50px
}
.img{
  margin:0px 20px 20px 0px;
  padding: 0px;
  border:5px solid white
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  position:bottom;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color:black;
  color: #fff;
  
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

a,
a:focus,
a:hover {
  color:blue;
}

/* Custom default button */
.btn-outline-default{
  color:#fff;
  border: .05rem solid #fff;
  margin-right:10px ;
  border-radius: 0;
 padding:10px 20px 10px 20px
}
.btn-secondary,
.btn-outline-default:hover,
.btn-secondary:hover,
.btn-secondary:focus {
  color:blue;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

 #about .about-btn{ 
  flex: 1;

}

.skills {
  background-image:url("images/dark-paths.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 130px
 
}
.skills h1{
  text-align: center;
  width: 80%;
  font-size: 50px;
  border-bottom: 5px solid #fff;
  padding-top:10px;
  margin-bottom: 20px;
  transform: translateX(13%)
}
.responsive-img{
  height:100px;
  width: 100px;
}
.card{
  background-color:white;
  width: 100%;
  margin-bottom: 15px;
  padding:30px
}
/*
 * Base structure
 */

 .masthead {
  margin-bottom: 0 !important;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #fff;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: blue;
  border-bottom-color:blue;
}

.cover-container{
  background-image:url("images/Website-Design-Background-1.jpg");
  background-size:cover; 
  background-repeat: no-repeat;

}

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.inner-cover{
  margin-top:100px;
  text-align: center;

}



.mouse{
  position: relative;
  width :32px;
  height: 62px;
  bottom: 0px;
  left: 50%;
  margin-left: -12px;
  border-radius: 15px;
  border: 2px solid white;
  animation: intro 1s;
}
.scroll{
  display: block;
  width: 6px;
  height: 8px;
  margin: 6px auto;
  border-radius: 4px;
  background:white;
  animation: finger 1s infinite
}		
.box{
  position: absolute;
  top: 65%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0 0 0 5px;
}
.box span{
  display: block;
  width: 22px;
  height: 22px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform:rotate(45deg);
  margin:-10px;
  animation: animate 1s infinite
}

@keyframes intro{
  0%
  { opacity: 0;
    transform: translateY(40px);}
  100%
    {opacity: 1;
    transform: translateY(0);}
}
    
@keyframes finger{
  0%
 {
  opacity: 1
 } 
100%
  {opacity: 0;
  transform: translateY(20px)
}
}
.box span:nth-child(1){
  animation-delay: .3s;
  
}

@keyframes animate{
  0%
  { opacity: 0;
    transform:rotate(45deg) translate(-20px,-20px);
  } 
  50%
  {opacity: 1;
  }
  100%
    {opacity:0;
      transform:rotate(45deg) translate(20px,20px);
    }
}

#portfolio{
  background-image:url("images/images\ \(2\).jpg");
  background-size:cover; 
  background-repeat: no-repeat;
}

#portfolio .card{
 background-color: #001a33
}

#portfolio .modal-body a{
  color:blue
}
#portfolio .modal-body a:hover{
  color:black
}
.card .card-img-top{
  height: 200px;
}

.modal-content{
  color:blue ;
  width:auto
}
 .close{
  margin-left: 0px !important
}

h4 #myModalLabel .modal-title{
  text-align: center;
}

#portfolio h1{
  text-align: center;
  width: 80%;
  font-size: 50px;
  border-bottom: 5px solid #fff;
  padding-top:10px;
  margin-bottom: 20px;
  transform: translateX(13%)
}

.footerHeader{
  width:100%;
  padding:1em;
  background-color:rgba(52, 73, 94,1.0);
  text-align:center;
  color:white;
}
footer h3{
  font-weight:lighter;
}
footer ul{
  padding-left:5px;
  list-style:none;
}
footer p{
  text-align : justify;
  font-size : 12px;
}
footer iframe {
  width:100%;
  position:relative;
  height:170px;
}

footer h3{
  color:white
}

footer p{
  font-size: 20px
}

footer ul li{
  color:white
}

